<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.donmai.danbooru.danbo"
    android:installLocation="auto"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" 
        android:theme="@style/AppTheme"
        android:allowBackup="false">
        <activity
            android:name="us.donmai.danbooru.danbo.activity.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value="us.donmai.danbooru.danbo.activity.TagSearchActivity" />
        </activity>
        <activity android:name="us.donmai.danbooru.danbo.activity.PostListActivity" />
        <activity android:name="us.donmai.danbooru.danbo.activity.PreferencesActivity" />
        <activity android:name="us.donmai.danbooru.danbo.activity.SinglePostActivity" />
        <activity android:name="us.donmai.danbooru.danbo.activity.TagListActivity" />
        <activity android:name="us.donmai.danbooru.danbo.activity.TagSearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <meta-data
            android:name="android.app.default_searchable"
            android:value="us.donmai.danbooru.danbo.activity.TagSearchActivity" />
        <activity android:name="us.donmai.danbooru.danbo.cropimage.CropImage" />
        <activity android:name="com.iteye.weimingtom.danbo.activity.SwipeActivity"/>
        <activity android:name="com.iteye.weimingtom.danbo.activity.SwipeListActivity"/>
    </application>

</manifest>